<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Todo List API</title>
		<!-- Styles and scripts -->
		<link
			rel="stylesheet"
			href="../styles/globals.css"
		/>
		<script
			src="../scripts/login.js"
			type="module"
			defer
		></script>
		<!-- CDN Resources -->
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<h1 id="logo"><a href="/">Todo List API</a></h1>
				<h4>A client-side demonstration</h4>
				<h5>Users can access the API by registering with a <u>dummy</u> email address</h5>
			</div>
		</header>
		<main>
			<div class="container">
				<div class="container row gap-medium">
					<div class="container form">
						<h4>Already registerd? Log in!</h4>
						<form id="login-form">
							<div class="container input">
								<label for="email-input">Email</label>
								<input
									name="email"
									type="email"
									placeholder="Email"
									required
								/>
							</div>
							<div class="container input">
								<label for="password-input">Password</label>
								<input
									name="password"
									type="password"
									placeholder="Password"
									required
								/>
							</div>
							<button
								id="login-button"
								type="submit"
							>
								Login
							</button>
						</form>
					</div>
					<div class="container form">
						<h4>First time? Register to use API!</h4>
						<form id="register-form">
							<div class="container input">
								<label for="username-input">Username</label>
								<input
									name="name"
									type="text"
									placeholder="Username"
									required
								/>
							</div>
							<div class="container input">
								<label for="email-input">Email</label>
								<input
									name="email"
									type="email"
									placeholder="Email"
									required
								/>
							</div>
							<div class="container input">
								<label for="password-input">Password</label>
								<input
									name="password"
									type="password"
									placeholder="Password"
									required
								/>
							</div>
							<button
								id="register-button"
								type="submit"
							>
								Register
							</button>
						</form>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="container">
				<small>
					This application is for demonstration purposes only. Data provided here may be incomplete
					or inaccurate - use at your own risk.
					<br />
					© 2025 DevRx. All Rights Reserved.
				</small>
			</div>
		</footer>
	</body>
</html>
